{% extends "mailing/base.html" %} {% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for message in object_list %}
        <div class="col">
            <div class="card mb-3 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Сообщение {{ message.id }}</h4>
                </div>
                <div class="card-body">
                    <ul
                        class="list-unstyled mt-2 mb-4"
                        style="text-align: left"
                    >
                        <li>Тема письма: {{ message.subject }}</li>
                        <br /><br />
                        <li>
                            Текст письма: <br />{{ message.textbox | truncatechars:30 }}
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <a
                            href="{% url 'message:message_detail' message.pk %}"
                            class="btn btn-primary"
                            role="button"
                            >Посмотреть</a
                        >
                        <a
                            href="{% url 'message:message_update' message.pk %}"
                            class="btn btn-warning"
                            role="button"
                            >Изменить</a
                        >
                        <a
                            href="{% url 'message:message_delete' message.pk %}"
                            class="btn btn-danger"
                            role="button"
                            >Удалить</a
                        >
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
